{% extends 'rede/base.html' %}
{% block topo %}
<div class="header clearfix  col-md-6 offset-md-3">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'seguir' colaborador.id %}">seguir</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sair</a>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">{{ user.username }}</h3>
</div>
{% endblock %}
{% block conteudo %}
  <div class="container">
    <ul class="timeline">
      {% for publicacao in publicacoes %}
				<li>
  					<a href="#">@{{ publicacao.autor }}</a>
  					<a class="float-right">{{ publicacao.data }}</a>
  					<p>{{ publicacao.texto }}</p>
                    <a class="nav-link" href="{% url 'comentar' %}">Comentar</a>
				</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
